$black: #000;
$grey: rgb(202, 202, 202);
$white: #fff;
$orange: #FD7F00;

$background-black: $black;
$background-grey: $grey;
$background-white: $white;
$background-orange: $orange;

$text-black: $black;
$text-white: $white;
$text-orange: $orange;